@charset "UTF-8";
/*fil use pour pouvoir utiliser Sass en .scss */
/*couleurs pour les textes et fond de couleurs*/
/*mise en forme body et du conteneur*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .main-contenaire {
  max-width: 767.98px;
  width: 100%;
  box-sizing: border-box;
}

/* Média querries pour le format tablette et pc*/
@media screen and (min-width: 1024px) {
  .main-contenaire {
    max-width: 1440px;
    box-sizing: border-box;
  }
}
/*bouton en haut de l'accueil*/
.section__presentation--button {
  display: flex;
  position: relative;
  margin: auto;
  box-shadow: 0px 4px 9px 0px #7E7E7E;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  display: flex;
  align-items: center;
  border-color: #9356DC;
}

.fonctionnement__div {
  padding: 1%;
}

/*boutons de la section fonctionnement*/
.fonctionnement__button {
  background-color: #F7F7F7;
  width: 100%;
  height: 72.38px;
  border-radius: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border-color: #FFFFFF;
  color: #000000;
  box-shadow: 0px 4px 5px 0px #7E7E7E;
}
.fonctionnement__button .fa-mobile-screen-button,
.fonctionnement__button .fa-list-ul, .fonctionnement__button .fa-store {
  position: relative;
  right: 8%;
  color: #7E7E7E;
}
.fonctionnement__button .number__button {
  background-color: #9356DC;
}

.resto__div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.resto__div .resto__cards {
  box-shadow: 0px 4px 5px 0px #7E7E7E;
  border-radius: 15px;
  margin-bottom: 5%;
  width: 99%;
}
.resto__div .resto__img--cards {
  width: 100%;
}
.resto__div .resto__cards img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}
.resto__div .resto__title--cards {
  padding-left: 1.5%;
  width: 80%;
  margin-top: 0;
}
.resto__div .fa-heart {
  font-size: 2em;
  padding-top: 2%;
}
.resto__div .resto__card--div {
  display: flex;
}

footer {
  background-color: #353535;
  padding-bottom: 10%;
}
footer .footer__layout {
  padding-left: 5%;
  padding-top: 3%;
}
footer .footer__logo {
  width: 30%;
  color: #FFFFFF;
  font-family: "Shrikhand", cursive;
  padding-left: 5%;
}
footer ul {
  list-style-type: none;
}
footer .footer__link {
  color: #FFFFFF;
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 0%;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  justify-content: center;
  /*ombre de l'entête*/
  box-shadow: 0px 2px 4px #000000;
  margin-bottom: 1.5%;
}
header .logo__autolayout {
  height: 70%;
  display: flex;
  position: relative;
}
header .logo {
  position: initial;
  max-width: 70%;
  margin: auto;
}

/*header pour les pages des menus*/
.logo-page {
  max-width: 50%;
  position: relative;
  left: 20%;
}
.logo-page .fa-arrow-left {
  position: relative;
  padding-left: 1%;
  left: 2%;
  right: 2%;
  bottom: 1%;
  top: 3%;
}

/*media queries pour format tablette et pc*/
@media screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .logo__autolayout {
    width: 100%;
  }
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  width: 100%;
}
nav .fa-location-dot {
  padding-right: 2%;
  color: #353535;
}
nav .nav__text {
  width: 100%;
  height: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
}

/*section pour la mise en page des menu*/
.menu__section {
  display: flex;
  flex-direction: column;
}
.menu__section .img-page {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
.menu__section .layout__menu {
  height: 1307px;
  position: relative;
  top: 30%;
  bottom: 20%;
  background-color: #F7F7F7;
  border-radius: 20px 20px 0px 0px;
}
.menu__section .resto__name {
  position: relative;
  left: 5%;
  top: 1%;
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 800;
  font-size: 28px;
  line-height: 41px;
}
.menu__section .select__title {
  padding-left: 1%;
}
.menu__section .selct__ul {
  list-style-type: none;
}
.menu__section .select__button {
  display: grid;
  align-items: center;
  padding-top: 0%;
  padding-left: 2%;
  margin-left: 2%;
  margin-top: 2%;
  isolation: isolate;
  box-shadow: 0px 4.01149px 15.0431px #000000;
  width: 90%;
  height: 65px;
  gap: 5%;
  border-color: #EAEAEA;
  /* White */
  background: #FFFFFF;
  border-radius: 15.0431px;
}

.fonctionnement {
  width: 100%;
}
.fonctionnement .fonctionnement__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-left: 2%;
}

.presentation {
  background-color: #F7F7F7;
  padding-top: 2%;
  padding-bottom: 3%;
  justify-content: center;
}
.presentation .presentation__title {
  position: relative;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.presentation .presentation__text {
  position: relative;
  text-align: center;
}
.presentation .section__presentation--button {
  transform: matrix(1, 0, 0, 1, 0.5, 1);
}

/*police générale*/
* {
  font-family: "Roboto", sans-serif;
}

.section__presentation--button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  transform: matrix(1, 0, 0, 1, 0, 0);
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 3%;
}

.resto {
  padding-left: 0;
  padding-right: 0;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  max-width: 95%;
}
.resto .resto__title {
  display: inline;
  width: 30%;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-left: 1.5%;
}

/*# sourceMappingURL=stylecss.css.map */
