@charset "UTF-8";
/*fil use pour pouvoir utiliser Sass en .scss */ /* Section consacré aux mixin, comme pour les ombres, par exemple*/
/*couleurs pour les textes et fond de couleurs*/
/*mise en forme body et du conteneur*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Média querries pour le format tablette et pc*/
}
@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .main-contenaire {
    max-width: 767.98px;
    width: 100%;
    box-sizing: border-box;
    /* Média querries pour le format tablette et pc*/
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  body .main-contenaire {
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
  }
}

/*bouton en haut de l'accueil*/
.section__presentation--button {
  display: flex;
  position: relative;
  margin: auto;
  box-shadow: 0px 4px 9px 0px #7E7E7E;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  display: flex;
  align-items: center;
  border-color: #9356DC;
}

.fonctionnement__div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 1%;
  gap: 4%;
}
@media screen and (min-width: 768px) {
  .fonctionnement__div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*boutons de la section fonctionnement*/
.fonctionnement__button {
  background-color: #F7F7F7;
  width: 100%;
  height: 72.38px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 0.95em;
  line-height: 19px;
  border-color: #FFFFFF;
  color: #000000;
  box-shadow: 0px 4px 5px 0px #7E7E7E;
}
.fonctionnement__button .fa-mobile-screen-button,
.fonctionnement__button .fa-list-ul,
.fonctionnement__button .fa-store {
  position: relative;
  left: 10%;
  padding-right: 15%;
  color: #7E7E7E;
}

/* cardes pour les présentations des restaurants sur la page d'accueil*/
.resto__div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 3%;
}
@media screen and (min-width: 768px) {
  .resto__div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: space-between;
    gap: 5%;
  }
}
.resto__div .resto__cards {
  box-shadow: 0px 4px 5px 0px #7E7E7E;
  border-radius: 15px;
  margin-bottom: 5%;
  width: 95%;
  background-color: #FFFFFF;
  margin-left: 2%;
}
@media screen and (min-width: 768px) {
  .resto__div .resto__cards {
    width: 80%;
    margin: auto;
  }
}
.resto__div .resto__img--card {
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .resto__div .resto__img--card {
    overflow: hidden;
    object-fit: cover;
    height: 450px;
  }
}
.resto__div .resto__cards img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
  align-self: stretch;
}
@media screen and (min-width: 768px) {
  .resto__div .resto__cards img {
    height: 100%;
    object-fit: cover;
  }
}
.resto__div .resto__title--cards {
  padding-left: 1.5%;
  width: 80%;
  margin-top: 0;
}
.resto__div .fa-heart {
  font-size: 2em;
  padding-top: 2%;
  position: relative;
  left: 5%;
}
.resto__div .resto__card--div {
  display: flex;
}
.resto__div .link__cards {
  text-decoration: none;
  color: #000000;
}

/* Partie consacré au pied de page du site et de sa mise en forme de 
ses éléments.*/
footer {
  background-color: #353535;
  padding-bottom: 10%;
}
@media screen and (min-width: 768px) {
  footer {
    width: 95.8%;
    margin: auto;
  }
}
footer .footer__layout {
  padding-left: 5%;
  padding-top: 3%;
  margin-top: -7%;
}
@media screen and (min-width: 768px) {
  footer .footer__layout {
    width: 100%;
  }
}
footer .footer__logo {
  width: 30%;
  color: #FFFFFF;
  font-family: "Shrikhand", cursive;
  padding-left: 5%;
  padding-top: 4%;
}
@media screen and (min-width: 768px) {
  footer .footer__logo {
    width: 13%;
    position: relative;
    left: 100%;
    font-size: 1.5em;
    padding: 5%;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  footer .div__footer {
    display: flex;
    flex-direction: row;
    width: 70%;
    position: relative;
    left: 4%;
    gap: 4%;
    align-items: center;
  }
}
footer .footer__link {
  color: #FFFFFF;
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 0%;
}
@media screen and (min-width: 768px) {
  footer .footer__link {
    position: relative;
    left: 1%;
  }
}

/*Mise en forme de l'entête du site*/
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  justify-content: center;
  /*ombre de l'entête*/
  box-shadow: 0px 2px 4px #000000;
  margin-bottom: 1.5%;
  /*media queries pour format tablette et pc pour la mise en forme du header*/
}
@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
header .logo__autolayout {
  height: 70%;
  display: flex;
  position: relative;
}
@media screen and (min-width: 768px) {
  header .logo__autolayout {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
header .logo__autolayout .logo {
  position: initial;
  max-width: 70%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  header .logo__autolayout .logo {
    max-width: 100%;
    width: 31%;
  }
}

/*header pour les pages des menus*/
.logo-page {
  max-width: 50%;
  position: relative;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .logo-page {
    padding-left: 10%;
  }
}
.logo-page .fa-arrow-left {
  position: relative;
  padding-left: 1%;
  left: 2%;
  right: 2%;
  bottom: 1%;
  top: 3%;
}
@media screen and (min-width: 768px) {
  .logo-page .fa-arrow-left {
    position: relative;
    left: 1%;
    padding-right: 10%;
  }
}

/* Mise en forme de la navigation en vu d'une prochaine création de barre
de recherche*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #EAEAEA;
  width: 100%;
}
nav .fa-location-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: #353535;
  position: relative;
  align-items: center;
}
nav .nav__text {
  width: 6%;
  height: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 19px;
  color: #353535;
}

/*section pour la mise en page des menu sur les pages anexes*/
.menu__section {
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
}
.menu__section .img-page {
  width: 100%;
  height: 275px;
  display: flex;
  object-fit: cover;
}
.menu__section .layout__menu {
  height: 1350px;
  position: relative;
  background-color: #F7F7F7;
  border-radius: 20px 20px 0px 0px;
  bottom: 50px;
  margin-bottom: -1%;
}
@media screen and (min-width: 768px) {
  .menu__section .layout__menu {
    width: 75%;
    margin: auto;
    padding-bottom: 2%;
    margin-bottom: 1%;
  }
}
.menu__section .fa-regular,
.menu__section .far {
  font-weight: 400;
  position: relative;
  left: 90%;
  bottom: 4.3%;
  font-size: 1.7em;
}
.menu__section .resto__name {
  position: relative;
  left: 3%;
  top: 1%;
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 700;
  font-size: 23px;
  line-height: 41px;
}
.menu__section .select__title {
  padding-left: 1%;
}
.menu__section .border {
  width: 5%;
  background-color: #99E2D0;
  margin-top: -2%;
  height: 3px;
  margin-left: 1%;
  margin-bottom: 4%;
}
.menu__section .selct__ul {
  list-style-type: none;
}
.menu__section .select__button {
  display: grid;
  align-items: center;
  padding-top: 0%;
  padding-left: 2%;
  margin-left: 2%;
  margin-top: 2%;
  isolation: isolate;
  box-shadow: 0px 4.01149px 15.0431px #000000;
  width: 95%;
  height: 80px;
  gap: 1%;
  border-color: #EAEAEA;
  /* White */
  background: #FFFFFF;
  border-radius: 15.0431px;
}
.menu__section .title__dishes {
  text-align: left;
  font-weight: 700;
  font-size: 15px;
  width: 80%;
  position: relative;
  top: 35%;
}
.menu__section .text__dishes {
  text-align: left;
  position: relative;
  top: 55%;
  width: 80%;
}
.menu__section .price__dishes {
  font-weight: 700;
  position: relative;
  left: 90%;
  bottom: 30%;
  width: 10%;
}

/* section correspondant aux boutons sur le fonctionnement du site*/
.fonctionnement {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    width: 90%;
    position: relative;
    left: 5%;
  }
}
.fonctionnement .fonctionnement__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-left: 1.7%;
}
.fonctionnement .number__fonctionnement--button {
  display: flex;
  width: 24px;
  height: 24px;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  border: 1px solid;
  border-radius: 55%;
  border-color: #9356DC;
}

/* section de la présentation du site sous la navigation*/
.presentation {
  background-color: #F7F7F7;
  padding-top: 2%;
  padding-bottom: 3%;
  justify-content: center;
}
.presentation .presentation__title {
  position: relative;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 2.1em;
  line-height: 28px;
}
@media screen and (min-width: 768px) {
  .presentation .presentation__title {
    font-size: 35px;
  }
}
.presentation .presentation__text {
  position: relative;
  text-align: center;
  padding-bottom: 2%;
}
.presentation .section__presentation--button {
  transform: matrix(1, 0, 0, 1, 0.5, 1);
}

/*police générale*/
* {
  font-family: "Roboto", sans-serif;
}

.section__presentation--button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  transform: matrix(1, 0, 0, 1, 0, 0);
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 3%;
}

/* section complémentaire avec la section cards, qui présente 
les restaurant principalement pour la mise en forme des textes*/
.resto {
  padding-left: 0;
  padding-right: 0;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 10%;
  max-width: 100%;
  background-color: #F7F7F7;
  margin-top: 2%;
}
.resto .resto__title {
  display: inline;
  width: 30%;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-left: 1.5%;
}
@media screen and (min-width: 768px) {
  .resto .resto__title {
    padding-left: 6.5%;
  }
}

/*# sourceMappingURL=stylecss.css.map */
