/*police générale*/
* {
    font-family: 'Roboto', sans-serif;
}


    $texts-color: #000000;
    $turquoise-color: #99E2D0;
    $green-color: #008766;
    $blue-color-one: #89C8FA;
    $blue-color-two: #003A68;
    $primary-color: #9356DC;

