nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $background_nav;

    .fa-location-dot {
        padding-right: 3%;
        color: $grey1;
    }

    .nav__text {
        width: 109px;
        height: 19px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: $grey1 ;
    }
}