header {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 200px;
   justify-content: center;
   /*ombre de l'entête*/
   @include shadow-box;
   margin-bottom: 2%;

    .logo__autolayout {
       height: 70%;
       display: flex;
       position: relative;
    }

    .logo{
        position: initial;
        max-width: 70%;
        margin: auto;
    }

}