/*police générale*/
* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', sans-serif;
}

.section__presentation--button{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $button-text;
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 3%;

}