/* section complémentaire avec la section cards, qui présente 
les restaurant principalement pour la mise en forme des textes*/
.resto {
   
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    max-width: 95%;

    .resto__title {
        display: inline;
        width: 30%;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: $texts_color;
        padding-left: 1.5%;
      
    }
    

   
}