.fa-cookie-bite{
    color: $cookie;
    position: fixed;
    left: 25%;
    top: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20em;
    animation: fa-cookie-bite 3s;
    opacity: 0;
}

@keyframes fa-cookie-bite{
    0% {
        opacity: 0;
        rotate: (0deg);
    }
    17%{
        rotate: (10deg) ;
        opacity: 0.1;

    }
    24%{
        opacity: 1;
        rotate: (30deg);
    }
    
    84%,100%{
        color: $pepite;

    }
    100%{
        opacity: 0;
        rotate: (360deg);
        
    }


}