/* cardes pour les présentations des restaurants sur la page d'accueil*/
.resto__div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 3%;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap: 5%
    }

    .resto__cards {
        @include shadow-fonctionne;
        border-radius: 15px;
        margin-bottom: 5%;
        width: 95%;
        background-color: $button-text;
        margin-left: 2%;
        
        .link__cards {
            position: relative;
            text-decoration: none;
            color: $texts_color;
            
            .resto__card--new {
                position: absolute;
                top: 3%;
                right: 3%;
                background-color: $turquoise_color;
                color: $green_color;
                font-weight: bold;
                text-align: center;
                padding: 10px 15px;
                border-radius: 5px;
            }
            &:hover .my-heart-full, &:active .my-heart-full {
                opacity: 1;
            }
        }

        
        @media screen and (min-width: 768px) {

            width: 80%;
            margin: auto;


        }





    }

    .resto__img--card {

        overflow: hidden;

        @media screen and (min-width: 768px) {

            overflow: hidden;
            object-fit: cover;
            height: 450px;


        }

    }

    .resto__cards img {

        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 15px 15px 0px 0px;
        align-self: stretch;

        @media screen and (min-width: 768px) {

            height: 100%;
            object-fit: cover;
        }
    }

    .resto__title--cards {
        
        margin: 3px 0;
        width: 80%;
    }
    .resto__text--cards{
        padding-left: 12px;
        padding-bottom: 2px;
        font-size: 1.2em;
    }
    .heart__layout {
        position: absolute;
        right: 15px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        i {
            position: absolute;
            cursor: pointer;
            font-size: 1.8em;
        }
    }
 /*animation du remplissage du coeur*/
    .my-heart-full {
        opacity: 0;
        transition: opacity 2s ease-in-out;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(#ff79dA, #9356dc);
        -webkit-background-clip: text;
        background-clip: text;


        &:hover {
            opacity: 1;
            background-position: 0% 100%;
            background-image: linear-gradient(#ff79dA, #9356dc);
            transition: opacity 2s ease-in-out;
        }

    }




   

}


.resto__card--div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    position: relative;
}
