/*bouton en haut de l'accueil*/
.section__presentation--button {
    display: flex;
    position: relative;
    margin: auto;
    @include shadow-button;
    border-radius: 25px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    display: flex;
    align-items: center;
    border-color: $primary_color;
}

.fonctionnement__div {
    padding: 1%;
}

/*boutons de la section fonctionnement*/
.fonctionnement__button {
    background-color: $background_present;
    width: 100%;
    height: 72.38px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    border-color: $button-text;
    color: $texts_color;
    @include shadow-fonctionne;

    .fa-mobile-screen-button,
    .fa-list-ul,
    .fa-store {
        position: relative;
        left: 26%;
        padding-right: 33%;
        color: $grey2;
    }


}