/* cardes pour les présentations des restaurants sur la page d'accueil*/
.resto__div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 3%;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap: 1%;
        

    }

    .resto__cards {
        @include shadow-fonctionne;
        border-radius: 15px;
        margin-bottom: 5%;
        width: 95%;
        background-color: $button-text;
        margin-left: 2%;

        @media screen and (min-width: 768px) {

            width: 80%;
            left: 1%;
            

        }


 


    }

    .resto__img--cards {
        width: 100%;

    }

    .resto__cards img {
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 15px 15px 0px 0px;
        align-self: stretch;
    }

    .resto__title--cards {
        padding-left: 1.5%;
        width: 80%;
        margin-top: 0;
    }

    .fa-heart {

        font-size: 2em;
        padding-top: 2%;
        position: relative;
        left: 5%;

    }

    .resto__card--div {
        display: flex;

    }
    .link__cards{
        text-decoration: none;
        color: $texts_color;
    }




}