
/*couleurs pour les textes et fond de couleurs*/
$texts_color: #000000;
$turquoise_color: #99E2D0;
$green_color: #008766;
$blue_color_one: #89C8FA;
$blue-color_two: #003A68;
$primary_color: #9356DC;
$background_nav: #EAEAEA;
$grey1: #353535 ;
$background_present:#F7F7F7;
$button-text: #FFFFFF;
$grey2: #7E7E7E;
$grey3: #D2D2D2;
