/*mise en forme body et du conteneur*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;


    .main-contenaire {
        max-width: 767.98px;
        width: 100%;
        box-sizing: border-box;
    }
}

/* Média querries pour le format tablette et pc*/
@media screen and (min-width: 1024px) {
    .main-contenaire{
        max-width: 1440px;
        box-sizing: border-box;
    }
}

