@mixin shadow-box{
    box-shadow: 0px 2px 4px $texts_color;
}

@mixin shadow-button{
    box-shadow: 0px 4px 9px 0px $grey2;

}

@mixin shadow-fonctionne{
  box-shadow: 0px 4px 5px 0px $grey2;
}

@mixin shadow-select{
  box-shadow: 0px 4.01149px 15.0431px $texts_color;

}

