.presentation {
    background-color: $background_present;
    padding-top: 5%;

    .presentation__title {
        /* titre de la section de présentation */

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

    }
}